*{
    margin: 0;
    /* border: 1px solid red; */
}
/* Header style */
.header{
    background-image: url("../images/banner/banner2.png");
    background-repeat: no-repeat;
    width: 1440px;
    height: 730px;
}
.header-section{
    padding-top: 150px;
    padding-left: 48%;
    padding-right: 15%;
    color: #000000;
}
.header-title{
    font-family: 'Work Sans';
    text-align: right;
    font-size: 65px;
    font-weight: 700;
    padding-bottom: 30px;
}
.header-description{
    font-family: 'Work Sans';
    text-align: right;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 30px;
}
.header-btn{
    height: 65px;
    width: 160px;
    background-color: #F15B22;
    border: 2px solid #F15B22;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    margin-left: 74%;
}

/* Body style */
/* My failures of previous year section */
.section-failure{
    display: flex;
    justify-content: center;
    margin: 130px 200px;
    gap: 80px;
}
.failure-reaction{
    background-color: rgba(255, 89, 89, 0.5);
    border-radius: 50%;
}
.item2-title{
    font-family: 'Work Sans';
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    padding-top: 240px;
    padding-bottom: 20px;
}
.item2-description{
    font-family: 'Work Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;  
    color: #444343;
    padding-bottom: 20px;
}
.item2-items{
    display: flex;
    gap: 10px;
}
.items-icon{
    height: 25px;
    width: 25px;
}

/* My plans section */

.plan-title{
    text-align: center;
    font-family: 'Work Sans';
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    padding-bottom: 40px;
}
.plan{
    display: flex;
    justify-content: center;
    gap: 43px;
    
}
.plan-items{
    text-align: center;
}
.plan-items-title{
    font-family: 'Work Sans';
    font-weight: 700;
    font-size: 30px;
    color: #151414;
    padding-top: 20px;
}
.plan-items-description{
    font-family: 'Work Sans';
    font-weight: 500;
    font-size: 25px;
    color: #737272;
    padding-top: 20px;
}

/* Contact section */

.contact{
    background-image: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%),url('/images/watch.png');
    background-repeat: no-repeat;
    width: 1000px;
    height: 280px;
    border-radius: 5px;
    font-family: 'Work Sans';
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
    margin: 100px 230px;
}
.contact-title{
   padding: 40px 350px 30px 50px;
}
.contact-btn{
    height: 65px;
    width: 160px;
    background-color: #FFFFFF;
    border: 2px solid #F15B22;
    border-radius: 10px;
    margin-left: 50px;
    font-weight: 600px;
    font-size: 20px;
    color: #F15B22;
}

/* Footer */

.footer{
    background-color: #151414;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.footer-item1{
    padding-left: 200px;
    padding-top: 110px;
    padding-right: 200px;
}
.footer-item2{
    padding-right: 200px;
    padding-top: 110px;
}
.footer-item-title{
    font-family: 'Work Sans';
    color: #FFFFFF;
    font-weight: 700;
    font-size: 40px;
    padding-bottom: 20px;
}
.footer-item-description{
    font-family: 'Work Sans';
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    padding-bottom: 20px;
}
.social-icon{
    display: flex;
    gap: 20px;
}
.footer-item2-title{
    font-family: 'Work Sans';
    color: #FFFFFF;
    font-weight: 600;
    font-size: 25px;
    padding-bottom: 20px;
}
.footer-item2-input{
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    background-color: #151414;
    padding: 0 15px;
    color: #FFFFFF;
    width: 250px;
    height: 60px;
    text-align: left;
    font-size: 20px;
}
.subcribe-btn{
    height: 50px;
    width: 150px;
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    font-weight: 600px;
    font-size: 20px;
    color: #F15B22;
    margin-top: 20px;
}